<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wa2c.android.medoly.plugin.action.lastfm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <activity android:name=".activity.UnsentListActivity" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />

        <service
            android:name=".service.PostIntentService"
            android:exported="false" />

        <receiver
            android:name=".service.PluginReceiver"
            android:exported="true" >

            <!-- Post -->
            <intent-filter>
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_POST_MESSAGE" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_NOW" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_START" />
            </intent-filter>

            <!-- Get property -->
            <intent-filter>
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_GET_PROPERTY" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_MEDIA_OPEN" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_START" />
            </intent-filter>

            <!-- Love -->
            <meta-data
                android:name="execute_id_love"
                android:value="0" />
            <meta-data
                android:name="execute_label_love"
                android:resource="@string/label_execute_love"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_love"
                android:resource="@drawable/ic_action_love"
                tools:ignore="ManifestResource"/>

            <!-- UnLove -->
            <meta-data
                android:name="execute_id_unlove"
                android:value="1" />
            <meta-data
                android:name="execute_label_unlove"
                android:resource="@string/label_execute_unlove"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_unlove"
                android:resource="@drawable/ic_action_unlove"
                tools:ignore="ManifestResource"/>

            <!--
            実行不可のため封印
            <meta-data
                android:name="execute_id_ban"
                android:value="2" />
            <meta-data
                android:name="execute_label_ban"
                android:resource="@string/label_execute_ban"
                 tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_ban"
                android:resource="@drawable/ic_action_ban"
                 tools:ignore="ManifestResource"/>

            <meta-data
                android:name="execute_id_unban"
                android:value="3" />
            <meta-data
                android:name="execute_label_unban"
                android:resource="@string/label_execute_unban"
                 tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_unban"
                android:resource="@drawable/ic_action_unban"
                 tools:ignore="ManifestResource"/>
            -->


            <!-- Get property -->
            <meta-data
                android:name="execute_id_get_property"
                android:value="2" />
            <meta-data
                android:name="execute_label_get_property"
                android:resource="@string/label_execute_get_property"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_get_property"
                android:resource="@drawable/ic_action_property"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_type_get_property"
                android:value="TYPE_GET_PROPERTY" />

            <!-- Get album art -->
            <meta-data
                android:name="execute_id_get_album_art"
                android:value="3" />
            <meta-data
                android:name="execute_label_get_album_art"
                android:resource="@string/label_execute_get_album_art"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_get_album_art"
                android:resource="@drawable/ic_action_image"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_type_get_album_art"
                android:value="TYPE_GET_ALBUM_ART" />

            <!-- Track Page -->
            <meta-data
                android:name="execute_id_page_track"
                android:value="10" />
            <meta-data
                android:name="execute_label_page_track"
                android:resource="@string/label_execute_page_track"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_page_track"
                android:resource="@drawable/ic_action_page_track"
                tools:ignore="ManifestResource"/>

            <!-- Artist Page -->
            <!--
            <meta-data
                android:name="execute_id_page_artist"
                android:value="11" />
            <meta-data
                android:name="execute_label_page_artist"
                android:resource="@string/label_execute_page_artist"
                 tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_page_artist"
                android:resource="@drawable/ic_action_page_artist"
                 tools:ignore="ManifestResource"/>
            -->

            <!-- Site -->
            <meta-data
                android:name="execute_id_site"
                android:value="12" />
            <meta-data
                android:name="execute_label_site"
                android:resource="@string/label_execute_site"
                tools:ignore="ManifestResource"/>
            <meta-data
                android:name="execute_icon_site"
                android:resource="@drawable/ic_action_lastfm"
                tools:ignore="ManifestResource"/>

        </receiver>

        <receiver
            android:name=".util.ToastReceiver"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
