<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa2c.android.medoly.plugin.action.lastfm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <activity android:name=".UnsentListActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" />

        <service
            android:name=".PostIntentService"
            android:exported="false" />

        <receiver
            android:name=".PluginReceiver"
            android:label="@string/class_receiver_label">
            <intent-filter>
                <action android:name="com.wa2c.android.medoly.plugin.action.ACTION_MEDIA" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wa2c.android.medoly.plugin.category.TYPE_POST_MESSAGE" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_NOW" />
                <category android:name="com.wa2c.android.medoly.plugin.category.OPERATION_PLAY_START" />
            </intent-filter>

            <!-- Love -->
            <meta-data
                android:name="execute_id_love"
                android:value="0" />
            <meta-data
                android:name="execute_label_love"
                android:resource="@string/label_execute_love" />
            <meta-data
                android:name="execute_icon_love"
                android:resource="@drawable/ic_action_love" />

            <!-- UnLove -->
            <meta-data
                android:name="execute_id_unlove"
                android:value="1" />
            <meta-data
                android:name="execute_label_unlove"
                android:resource="@string/label_execute_unlove" />
            <meta-data
                android:name="execute_icon_unlove"
                android:resource="@drawable/ic_action_unlove" />

            <!--
            実行不可のため封印
            <meta-data
                android:name="execute_id_ban"
                android:value="2" />
            <meta-data
                android:name="execute_label_ban"
                android:resource="@string/label_execute_ban" />
            <meta-data
                android:name="execute_icon_ban"
                android:resource="@drawable/ic_action_ban" />

            <meta-data
                android:name="execute_id_unban"
                android:value="3" />
            <meta-data
                android:name="execute_label_unban"
                android:resource="@string/label_execute_unban" />
            <meta-data
                android:name="execute_icon_unban"
                android:resource="@drawable/ic_action_unban" />
            -->


            <!-- Track Page -->
            <meta-data
                android:name="execute_id_page_track"
                android:value="2" />
            <meta-data
                android:name="execute_label_page_track"
                android:resource="@string/label_execute_page_track" />
            <meta-data
                android:name="execute_icon_page_track"
                android:resource="@drawable/ic_action_page_track" />

            <!-- Artist Page -->
            <meta-data
                android:name="execute_id_page_artist"
                android:value="2" />
            <meta-data
                android:name="execute_label_page_artist"
                android:resource="@string/label_execute_page_artist" />
            <meta-data
                android:name="execute_icon_page_artist"
                android:resource="@drawable/ic_action_page_artist" />

            <!-- Site -->
            <meta-data
                android:name="execute_id_site"
                android:value="4" />
            <meta-data
                android:name="execute_label_site"
                android:resource="@string/label_execute_site" />
            <meta-data
                android:name="execute_icon_site"
                android:resource="@drawable/ic_action_lastfm" />
        </receiver>

        <receiver
            android:name=".ToastReceiver"
            android:exported="false" />

    </application>

</manifest>
